body {
    background-image: url("../images/nunbers.jpeg");
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    height: 100vh;
}

#container {
    border: 6px solid burlywood;
    border-radius: 20px;
    background-color: darkslateblue;
    padding: 2px;
    width: 250px;
    align-self: center;
    text-align: center;
    height: 330px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* width: 150px;
        height: 100px; */
    transform: skew(10deg);
    color: burlywood;

}
